body{
    font-family:'Raleway', sans-serif;
    font-size: 14px;
    color: #a7aaaf;
    margin: 0;
    background-color: white;
}
*,
*::before,
*::after{
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/* header */
.header {
position: absolute;
top: 0;
left: 0;
z-index: 1000;
width: 100%;
}
.header__inner {
    align-items: center;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505369;
}
.header__logo {
}
.nav {
font-size: 13px;
font-weight: 700;
}
.nav__link {
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;  
    text-transform: uppercase;
    opacity: .75;
    transition: opacity .2s linear;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{

    opacity: 1;
}
/* intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    background: #31344e url(../img/intro-bg/ActiveBox_01.jpg) center no-repeat;
    height: 750px;
}
.intro__inner{
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.intro__title{
font-size: 65px;
line-height: 1.1;
color: white;
font-weight: 700;
font-family: "Open Sans", sans-serif;
margin-bottom: 30px;
text-transform: uppercase;
}
.intro__subtitle{
    font-size: 22px;
    line-height: 1.5;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-bottom: 60px;
}
.btn{    
display: inline-block;
font-size: 13px;
line-height: 1.4;
color: #ffffff;
font-weight: 600;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
text-decoration: none;
padding: 14px 40px;
border-radius: 2px;
vertical-align: top;
font-family: inherit;
cursor: pointer;
border: 0;
transition: background .2s linear;
}
.btn--red{
    background-color: #e84545;
}
.btn--red:hover{
    background-color: #f00b0b;
}
/* features */
.container {
}
.features-body {
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;
}
.features__item {
    width: 33.3333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}
.features__icon {
    margin-bottom: 20px;
}

.features__title {
font-size: 14px;
color: #2d3033;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 15px;
}
.features__text {
    line-height: 1.5;
    font-size: 14px;
    color: #6c7279;
}

